gpg==1.23.2
numpy==2.0.1
openvino==2024.2.0
openvino-telemetry==2023.2.1
packaging==24.0
PyQt6==6.7.1
PyQt6-3D==6.7.0
PyQt6-Charts==6.7.0
PyQt6-DataVisualization==6.7.0
PyQt6-NetworkAuth==6.7.0
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
TBB==0.2

streamlit==1.24.1
plotly==5.15.0
numpy==1.24.3
pymongo==4.6.0
streamlit
